@charset "utf-8";

html {
	font-size: 16px;
}
html:before,html:after,body:before,body:after {
	content: "";
	background: #dad8bb;
	position: fixed;
	display: block;
	z-index: 5;
}

/* ...and position them! */
html:before {
	height: 10px;
	left: 0;
	right :0;
	top: 0;
}
html:after {
	width: 10px;
	top: 0;
	right: 0;
	bottom: 0;
}
body:before {
	height: 10px;
	right: 0;
	bottom: 0;
	left: 0;
}
body:after {
	width: 10px;
	top: 0;
	bottom: 0;
	left: 0;
}

body {
	font-family: 'Noto Sans JP', sans-serif;
}

img {
	width: 100%;
}

a {
	text-decoration: none !important;
	color: #000000; 
}

a img {
	opacity: 1;
	transition: 0.3s;
}

a:hover img {
	opacity: .5;
}

.caption {
	text-align: center;
	text-decoration: none;
	color: #000000;
}

section {
	width: 1024px;
	margin: 40px auto;
}

@media screen and (max-width: 768px) {
	section {
		margin-left: 15px;
		width: 768px;
	}

	.caption {
		font-size: 0.8rem;
	}
}

@media screen and (max-width: 468px) {
	section {
		margin-left: 15px;
		width: 468px;
	}

	.caption {
		font-size: 0.8rem;
	}
}

h1 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 3.2rem;
	text-align: center;
	margin-top: 50px;
	line-height: 3.8rem;
}

h2 {
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
}

.work-container {
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.work-item {
	width: 200px;
	height: 200px;
	margin: 20px 10px 10px 10px;
	background-size: contain;
}

hr {
	margin-top: 70px;
	width: 80%;
}

.about {
	width: 100%;
	margin: 0 auto;
}

.portrait {
	margin: 10px 10px;
	width: 100px;
	height: 100px;
	background-image: url(".././images/work01.jpg");
	border-radius: 50px;
}

.description {
	margin: 20px;
}

@media screen and (max-width: 768px) {
	.description {
	width: 768px;
	}
}

@media screen and (max-width: 468px) {
	.description {
	width: 468px;
	}
}

footer {
	text-align: center;
	padding-top: 17px;
	bottom: 0;
	width: 100%;
	height: 40px;
	color: #000000;
}

@media screen and (max-width: 768px) {
	footer {
	width: 768px;
	}
}

@media screen and (max-width: 468px) {
	footer {
	width: 468px;
	}
}